* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica',sans-serif;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
}

/************Navigation***************/
header {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.nav-background {
    position: fixed; 
    top: 0;
    width: 100%; 
    color: rgb(224, 224, 224);
}
 
.logo {
    position: absolute;
    height: 48px;
    margin: 5px;
    z-index: 100;
}

nav ul {
    margin-left: 100px;
    float: left;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
    list-style-type: none;
    line-height: 60px;
    font-size: 15px;
    cursor: pointer;
}  
    
nav ul li a {
    color: #2d2c34;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

nav ul li a:hover {
    color:rgb(250, 104, 49);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    }

/****************Main****************/
/**************Section1**************/

.section1 {
    background: url(Images/background.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.text-section {
    display: inline-block;
    margin: 100px 80px;
    color: #fff;
}

.text-section h2 {
    font-size: 40px; 
}

.text-section h2 span {
    font-size: 20px;
}

.btn {
    display: inline-block;
    margin-top: 60px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(250, 104, 49);
    padding: 10px 20px;
} 


/**************Section2**************/ 

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3px;
    margin-top: 3px;
}

.add img {  
    max-width: 100%;   
}

/**************Section3**************/ 

/*********Footer***********/

footer {
    background: #c1c0c2;
}

footer p {
    font-size: 20px;
    text-align: center;
    color: #7c7c7c;  
}