* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica',sans-serif;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
}

/************Navigation***************/
header {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.nav-background {
    position: fixed; 
    top: 0;
    width: 100%; 
    color: rgb(224, 224, 224);
}
 
.logo {
    position: absolute;
    height: 48px;
    margin: 5px;
    z-index: 100;
    cursor: pointer;
}

nav ul {
    margin-left: 100px;
    float: left;
}

nav ul li {
    display: inline-block;
    margin-left: 30px;
    list-style-type: none;
    line-height: 60px;
    font-size: 15px;
    cursor: pointer;
}  
    
nav ul li a {
    color: #2d2c34;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

nav ul li a:hover {
    color:rgb(250, 104, 49);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    }

/****************Main****************/
/**************Section1**************/

.section1 {
    background: url(Images/background.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    cursor: pointer;
}

.text-section {
    display: inline-block;
    margin: 100px 80px;
    color: #fff;
}

.text-section h2 {
    font-size: 45px; 
    font-weight: 900;
}

.text-section p {
    font-size: 16px;
    font-weight: 300;
}

.btn-section1 {
    display: inline-block;
    margin-top: 60px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(250, 104, 49);
    padding: 10px 20px;
} 

/**************Section2**************/ 

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3px;
    margin-top: 3px;
    
}

.add img {  
    max-width: 100%;   
    cursor: pointer;
}

/**************Section3**************/ 

.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3px;
    margin-top: 3px;
    border-bottom: 1px solid rgb(224, 224, 224); 
    padding: 20px 50px 20px 20px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding-left: 40px;
}

.icon-text img {
    width :60px;
    padding-right: 10px;
}

.icon-text p {
    font-size: 15px;
    text-align: left;
    padding: 10px;
    color: #2a2a3a;
    padding-left: 5px;
}

@media screen and (max-width: 1024px) {
    .icon-text {  
        flex-direction: column;
    }}

/**************Section4**************/ 
.section4 h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    padding: 20px;
    margin-top: 40px;
    letter-spacing: -1px;
}

.container-section4 {
    margin: 20px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    justify-content: space-evenly;
    
}

.printer-name-button {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(224, 224, 224);
    align-items: baseline;
    
}

.printer-name-button img {
    width: 100%;
    height: 100%;
    padding: 5px 30px;
    object-fit: contain;
}

.printer-name-button p {
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
}

.printer-name-button a {
    width: fit-content;
    margin-bottom: 30px;
    color: rgb(250, 104, 49);
    font-weight: 400;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgb(250, 104, 49);
    padding: 10px 20px;
}

/*********Footer***********/

footer {
    background: #c1c0c2;
}

footer p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #7c7c7c;  
}